
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Volkhov:wght@400;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;  
}
body,
input {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
}
section{
    padding: 30px 0;
}
.primary-btn{
  margin: 20px 0;
  width: 155px;
  border: none;
  border-radius: 6px;
  outline: none;
  color: white;
  background-color: tomato;
  font-weight: 500;
  font-size: 15px;
  padding: 13px;
  cursor: pointer;
  transition: all ease-in-out 1.2s;
}
.primary-btn:hover{
  background-color:green; 
}

/* global */
.container{
    max-width: 1160px;
    margin: 0 auto;
}

/* Start Nav Section */
.nav-logo img {
  width: 100%;
}

nav{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
}
nav ul li a {
  color: #363958; ;
  font-size: 16px;
  font-weight: 600;
  padding: 30px;
  letter-spacing: 1px;
  transition: all 1.3s ease;
}
nav ul li a:hover{
  color: rgb(5, 185, 146);
}
label #open-btn{
  color: rgb(16, 197, 173);
  font-size: 30px;
  margin: 0 20px;
  cursor: pointer;
  display: none;
}
#nav-check{
  display: none;
}
/* End Nav Section */

/* Start Hero Section */
.hero-section{
  display: flex;
  align-items: center;
}
.intro-text{
  width: 50%;
}
.intro-pic{
  width: 50%;
}
.intro-text h1{
  color: #363958;
  font-size: 40px;
  
}
.intro-text-color{
  color:rgb(238, 104, 80);
  font-size: 55px;
}
.intro-text p{
  color: dimgray;
}
.intro-pic img{
  width: 85%;
  height: auto;
  padding-left: 70px;
} 
/* End Hero Section */

/* Start About Section */
.about-section{
  display: flex;
  align-items: center;
}
.about-text{
  width: 50%;
}
.about-pic{
  width: 50%;
}
.about-text h1{
  color: #363958;
  font-size: 40px;
  margin-bottom: 10px;
  
}
.about-text p{
  color: dimgray;
  text-align: justify;
}
.about-pic img{
  width: 85%;
  height: auto;
  padding-right: 70px;
} 
.download-icon{
  padding-right: 5px;
  font-size: 18px;
}
/* End About Section */

/* Start Project Section */
.project-section{
  background-color: #F8F9FC;
  text-align: center;
}
.project-intro{
  padding: 30px 0;
}
.project-intro h2{
  color: #363958;
  font-size: 30px;
  letter-spacing: 1px;
}
.project-intro-color{
  color: rgb(228, 102, 80);
}
.project-content{
  display: flex;
  align-items: center;
  padding-top: 15px;
  flex-wrap: wrap;
}
.card{
  cursor: pointer;
  margin: 10px 10px;
  border-radius: 15px;
  width: 265px;
  height: 320px;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 10px 10px 60px lightgray ;
}
.card img{
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 10px 10px;
}
.card h3{
  color: #363958;
  padding: 0 16px 16px;
}
.card p{
  color: dimgray;
  text-align: justify;
  font-size: 14px;
  padding: 0 16px 16px;
}
/* End Project Section */

/* Start Chat Section */
.chat-content{
  margin-top:40px ;
}
.chat-content{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url('images/background/bg.png');
  background-position: center;
  background-size: 65%;
  background-repeat: no-repeat;
  height: 130px;
}
.chat-text{
  font-size: 20px;
  color: white;
  font-weight: 600;
}
.chat-btn{
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  background-color: tomato;
  font-weight: 500;
  font-size: 15px;
  padding: 13px;
  cursor: pointer;
  transition: all ease-in-out 1.2s;
}
.chat-btn:hover{
  background-color: green
}
/* End Chat Section */

/* Start Connect Section */
.connect h3 {
  color: #363958;
  text-align: center;
  font-size: 30px;
}
.icon-content{
  text-align: center;
}
.icon{
  padding: 0 3px;
  font-size: 30px;
  color:tomato;
  cursor: pointer;
  transition: transform(1s);
}
.icon :hover{
  color: rebeccapurple;
  transform: scale(1.5);
}
/* End Connect Section */

/* Start Footer Section */
.footer{
text-align: center;
}
.footer-text{
  color: #363958;
}
.footer-color{
  color: rgb(85, 15, 117);
  transition: all ease-in-out 1.2s;
  font-weight: 600;
}
.footer-color:hover{
  color: green;
}
.git-icon{
  padding-left: 5px;
  font-size: 20px;
}
/* End Footer Section */